@font-face {
    font-family: myFont;
    src: url(Font/rtco-flinton-four.otf);
}

*{
    font-family: myFont;
    font-size: large;
}

.header .image{
    
    display: flex;
    justify-content: right;
    padding-right: 25rem;
    padding-left: 25rem;
    float: right;
    
    
}

.nav{
    border: 1px solid black;
    border-style: hidden;
    padding: 10px;
    background-color: blanchedalmond;
    position: relative;
    width: 200px;
    height: 886px;
}


.footer{
    color: black;
    position: relative;
    bottom: 242px;
    left: 38px;
    font-size: small;
}

.buy{
    position: relative;
    left: 400px;
    bottom: 375px;
    filter: drop-shadow(1px 1px 5px black);
}

body{
    background-image: url('Images/c9e9a72f4123a90d87360420c23f846b.jpg');
    height: 100vh;
    background-repeat: repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.reviews{
    width: 700px;
    position: relative;
    left: 850px;
    bottom: 1100px;
}